/*VARIABLES*/

/*FONT SIZE*/

$font-size-sm: 1rem;

$font-size-base: 1.125rem;

$font-size-md: 1.3rem;

$font-size-lg: 1.5rem;

$font-size-xl: 2rem;

$font-size-xxl: 2.4rem;

$font-size-title: 2.6rem;

$font-size-heading: 2.8rem;

/*FONT FAMILY*/

$font-secondary: "Roboto", sans-serif;

$font-title: "Lexend", sans-serif;

$font-primary: "Faustina", serif;

$font-mix: "Ibarra Real Nova", serif;

/*COLOR*/

$background-color: rgb(174, 203, 218);

$background-color-light: rgb(199, 215, 224);

$hero-title: rgb(19, 90, 95);

$hero-text: rgb(23, 93, 122);

$cv-section-background: rgb(242, 232, 227);

$cv-section-text :rgb(65, 68, 69);

$list-title: rgb(19, 64, 103);

$list-text :rgb(59, 60, 60);

$background-footer: rgb(1, 26, 67);


/*GAP*/

$gap1:1rem;

$gap2:2rem;

$gap4:4rem;

$gap6:6rem;

/*MARGIN*/

$mobile-margin-bottom: 20vh;

$margin-center: 0 auto;

$margin-auto: auto;

$margin-xs:0.5rem;

$margin-s:1rem;

$margin-m:2rem;

/*PADDING*/

$padding-xs:0.5rem;

$padding-s:1rem;

$padding-m:2rem;

$padding-l:3rem;

/*BORDER RADIUS*/

$border-radius-xs: 1rem;

$border-radius: 2rem;


/*BREAKPOINT*/

$breakpoint-mobile: 768px;

$breakpoint-laptop: 1024px;

$breakpoint-desktop: 1280px;

